{% extends 'base.html' %} {% block content %} {% load static %} {% load cloudinary %}
<section class="content">
    <header class="post_form_header">
        <div class="header_icon">
            <img src="{% static 'img/techis-logo.png' %}" alt="logo">
        </div>
        <div class="header_text">
            <h1>Edit</h1>
        </div>
    </header>
    <section class="post_form">
        <div class="logo">
            <img src="{% static 'img/sample-woman.jpg' %}" >
        </div>
        <form action="/edit/" method="POST" enctype="multipart/form-data">
            <!-- Add a CSRF token to forms -->
            {% csrf_token %}
            <input class="name_input" type="text" name="name" placeholder="Name" value="{{ post.name }}">
            <textarea class="text_body" name="body" placeholder="What are you doing?" required value="{{ post.body }}"></textarea>

            <div class="post_img_container">
                <!-- {% include 'index.html' %} -->
               {% if post.image.url %}
                <img src="{{ post.image.url }}" >
               {% endif %}
            </div>
            
            <div class="edit_buttons">
                <div class="file_button">
                    <input type="file" name="image" id="" >
                </div>
                <div class="cancel_button">
                    <a class="cancel_link" href="{% url 'index' %}">Cancel</a>
                </div>
                <div class="update_button">
                    <a class="update_link" href="{% url 'index' %}">Update</a>
                </div>
            </div>
        </form>
    </section>
    {% endblock %}