

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Load</title>
</head>
<body>
    {% load cloudinary %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.image }}

        <div>
            <br>
            <input type="submit" value="Upload" style="width: 60px; text-align: center;">
        </div>
    </form>
    
</body>
</html>