/* /*
Common
************************************/

html,
body {
    height: 100%;
    font-family: sans-serif;
}

.content {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

@media screen and (max-width: 500px) {
}

/*
Posts
************************************/

.post_form {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.post_form input {
    width: 96%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.post_form textarea {
    width: 96%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.post_form .upload-area {
    width: 96%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.post_form button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.upload-image {
    width: 50%;
}

.posts ul {
    padding: 0;
}

.posts li {
    position: relative;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 20px 40px;
    list-style: none;
}

.posts li .menu_icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 30px;
    top: 18px;
    cursor: pointer;
}

.posts li .menu {
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
    cursor: pointer;
}

.posts li img {
    width: 100%;
}

.posts li .menu a {
    text-decoration: none;
}

.posts li .logo {
    flex-basis: 15%;
}

.posts li .logo img {
    width: 60%;
}

.posts li .name_body {
    flex-basis: 85%;
}

.posts li .name_body .name {
    font-weight: bold;
    margin-bottom: 10px;
}

.posts li .name_body .body {
    margin: 10px 0px;
}

.posts li .name_body .datetime {
    color: gray;
    margin-bottom: 10px;
}

.no-post {
    text-align: center;
}

.no-post p {
    margin: 0px 0px;
}

.loading {
    text-align: center;
}


/* ##########################################################
TEA SHOP: UNIVERSAL / COMMON STYLES
##########################################################*/

/* Universal Style Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.title_logo {
    color: #000;
    text-decoration: none;
}

/* Wrapper for each Page */
.tea_shop_wrapper {
    width: 100%;
    justify-content: center;
    align-content: center;
    position: relative;
}

/* Remove li styling */
li {
    list-style-type: none;
}

/* Close Icon: Sign In, Sign Up */
.bg_close {
    cursor: pointer;
    width: 40px;
    position: absolute;
    top: 15px;
    right: 25px;
}

/* Overlay for Sign In / Sign Out Page */
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: 4;
}

/* Push containers in front of Overlay */
.sign_up_container,
.sign_in_container {
    position: relative;
    z-index: 5;
}

/* Sign in / Sign out button cursor */
.sign_up_container .sign_up_button .sign_up,
.sign_in_container .sign_in_button .sign_in {
    cursor: pointer;
}

/* Remove Arrows from Input Type Number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Close Icon: Shopping Cart */
.sm_close {
    cursor: pointer;
    position: absolute;
    right: 5px;
}

/* Horizontal Rule */
.divider {
    border-bottom: 4px solid gray;
    margin-top: 0;
}


/* #########################################################
TEA SHOP: SIGN UP PAGE
#########################################################*/

.sign_up_container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 35%;
    margin: 0px auto;
    padding: 40px;
    position: absolute;
    width: 500px;
    text-align: center;
}

.sign_up_container .header h3 {
    font-weight: bold;
    margin: 10px 0;
}

.sign_up_container .header h2 {
    color: grey;
    margin: 10px 0;
    text-transform: uppercase;
}

.sign_up_container .sign_up_input {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

.sign_up_container .sign_up_input input:nth-child(1) {
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 4px;
}

.sign_up_container .sign_up_input input:nth-child(2) {
    padding: 10px;
    border-radius: 6px;
    margin: 2px 0;
}

.sign_up_container .sign_up_input input:nth-child(3) {
    padding: 10px;
    border-radius: 6px;
    margin-top: 4px;
}

.sign_up_container .sign_up_button .sign_up {
    background-color: #000;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    width: 90%;
    text-transform: capitalize;
    padding: 10px;
    margin-top: 5px;
}

.sign_up_container .sign_up_footer {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.sign_up_container .sign_up_footer .text {
    margin-right: 4px;
}

.sign_up_container .sign_up_footer .link {
    color: #000;
    margin-left: 4px;
    text-transform: capitalize;
}


/* #########################################################
TEA SHOP: SIGN IN PAGE
#########################################################*/

.sign_in_container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    margin: 0px auto;
    padding: 40px;
    position: absolute;
    top: 35%;
    width: 500px;
    text-align: center;
}

.sign_in_container .header h3 {
    font-weight: bold;
    margin: 10px 0;
}

.sign_in_container .header h2 {
    color: grey;
    margin: 10px 0;
    text-transform: uppercase;
}

.sign_in_container .sign_in_input {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

.sign_in_container .sign_in_input input:nth-child(1) {
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 4px;
}

.sign_in_container .sign_in_input input:nth-child(2) {
    padding: 10px;
    border-radius: 6px;
    margin-top: 4px;
}

.sign_in_container .sign_in_button .sign_in {
    background-color: #000;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    width: 90%;
    text-transform: capitalize;
    padding: 10px;
    margin-top: 5px;
}

.sign_in_container .sign_in_footer {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.sign_in_container .sign_in_footer .text {
    margin-right: 4px;
}

.sign_in_container .sign_in_footer .link {
    color: #000;
    margin-left: 4px;
    text-transform: capitalize;
}


/* #########################################################
TEA SHOP: HEADER
#########################################################*/

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header  h1 {
    cursor: pointer;
    padding: 10px 0; 
}


header nav {
    display: flex;
    align-items: center;
    padding: 4px;
}

header nav .sign_in_link {
    color: #000;
    cursor: pointer;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    margin-right: 4px;
}    

header nav .shop_icon img {
    cursor: pointer;
    text-align: center;
    width: 40px;
    height: 40px;
    margin-left: 4px;
}    



/* #########################################################
TEA SHOP: HOME PAGE
#########################################################*/

.tea_shop_container header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.tea_shop_container header  h1 {
    padding: 10px 0; 
}

.tea_shop_container header nav {
    display: flex;
    align-items: center;
    padding: 4px;
}

.tea_shop_container header nav .sign_in_link {
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    margin-right: 4px;
}

.tea_shop_container header nav .shop_icon img {
    text-align: center;
    width: 40px;
    height: 40px;
    margin-left: 4px;
}


/* #########################################################
TEA SHOP: SHOWCASE / TEAS
#########################################################*/

.tea_shop_container .showcase img {
    width: 100%;
    background: no-repeat;
}

.tea_shop_container .teas {
    padding: 10px;
}

.tea_shop_container .teas .item {
    display: flex;
}

.teas .item .tea_img{
    width: 600px;
    margin: 0;
}

.teas .item .tea_img img {
    width: 100%;
    height: 100%;
}

.teas .item .tea_content {
    width: 100%;    
    padding: 0;
}

.teas .item .tea_content h2 {
    padding: 5px;
    text-transform: capitalize;
}

.teas .item .tea_content .quantity {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin-top: 18%;
    padding-bottom: 0px;
}

.teas .item .tea_content .quantity .item_cost {
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.teas .item .tea_content .quantity .add_button {
    text-align: center;
    /* padding: 5px; */
}

.teas .item .tea_content .quantity .add_button {
    background-color: #000;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    /* font-size: 16px; */
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding: 10px 15px;
    width: 140px;
}

/* Spanned Increment  */
.item .added-cart {
    display: flex;
}

.item .added-cart-container{
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0 10px;
    width: 100px;
    color: white;
    background-color: black;
    padding: 10px 20px;
}

.item .added-cart #plus {
    cursor: pointer;
    justify-content: center;
    padding-top: 2px;
}

.item .added-cart #minus {
    cursor: pointer;
    justify-content: center;
}

.item .added-cart #count {
    text-align: center;
    align-self: center;
    width: 50px;
}

/* Check Cart Button */
#check_cart_button {
    background-color: black;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    /* font-size: 16px; */
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding: 10px 15px;
    width: 140px;
}


/* #########################################################
TEA SHOP: SHOPPING CART HEADER
#########################################################*/

.cart_wrapper {
    width: 100%;
    justify-content: center;
    align-content: center;
}    

.cart_header {
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}    

.cart_header .tea_logo {
    cursor: pointer;
    text-align: center;
    width: 100px;
}    

.cart_header .tea_logo img {
    width: 100%;
}    

.cart_header nav {
    display: flex;
    justify-content: space-between;
    width: 180px;
    padding-top: 4px;
}    

.cart_header nav span {
cursor: pointer;
margin: 0 auto;
text-decoration: none;
}    

.cart_header nav span img {
    height: 30px;
    text-decoration: none;
}    


/* #########################################################
TEA SHOP: SHOPPING CART
#########################################################*/

.shopping_cart {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.cart_header nav header h1 {
    display: none;
}

.shopping_cart .cart_items {
    margin: auto;
    width: 80%;
}
.shopping_cart .cart_items ul {
    width: 100%;
}

.shopping_cart .cart_items h2 {
    padding: 10px;
}

.shopping_cart .cart_items .table {
    width: 100%;
}

.shopping_cart .cart_items .table .table_header .product {
    color: lightgray;
    width: 33.3%;
}

.shopping_cart .cart_items .table .table_header .quantity {
    color: lightgray;
    /* width: 33.3%; */
    text-align: left;
    margin-left: 40%;
}

.shopping_cart .cart_items .table .table_header .price {
    color: lightgray;
    width: 33.30%;
}

/* Shopping Cart row */
tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 60%; */
    text-align: center;
    width: 100%;
}

.shopping_cart .cart_items .table .product_item {
    display: flex;
    padding: 15px;
}

.shopping_cart .cart_items .table .product_item .product_img {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.shopping_cart .cart_items .table .product_item .item_description {
    width: 100px;
    margin: auto;
}

.shopping_cart .cart_items .table .product_item .item_description h5 {
    color: lightgray;
}

.shopping_cart .cart_items .table .increment_button_container {
    display: flex;
}

.shopping_cart .cart_items .table .increment_button {
    border: 1px solid gray;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px 15px;
    width: 100px;
}

.shopping_cart .cart_items .table .increment_button .increment {
    background-color: #fff;
    border: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 0;
}

.shopping_cart .cart_items .table .increment_button .decrement {
    align-content: center;
    background-color: #fff;
    border: none;
    border-radius: 50px 0 0 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px 10px;
    margin: 0;
}

.shopping_cart .cart_items .table .increment_button .number {
    border: none;
    text-align: center;
    width: 40px;
}

.shopping_cart .cart_items .table .item_price {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

#checkout_button {
    background-color: green;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding: 10px 15px;
    width: 120px;
}
/* #########################################################
TEA SHOP: SHOPPING CART FOOTER
##########################################################*/

.footer_text {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.footer_text h4 {
    font-weight: normal;
    width: 70px;
}

.footer_text p {
    font-weight: bold;
}

.cart_buttons {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
    width: 100%;
}

.cart_buttons .continue_button {
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    width: 200px;
    margin-right: 5px;
}

.cart_buttons .next_button {
    background-color: blue;
    border: 1px solid blue;
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    padding: 15px;
    width: 100px;
}


/* #########################################################
TEA SHOP: ORDER FORM
#########################################################*/

.order_form_container {
    margin-top: 15px;
}
.order_form {
    padding-top: 5px;
}

.order_form input { 
    background-color: #eee;
    border-radius: 2px;
    color: #000;
    font-size: 14px;
    line-height: 1.5;
    margin: 10px 0;
    padding: 5px 15px;
    width: 80%;

}

.order_form button {
    background-color: #000;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    width: 200px;
    padding: 20px 0;
}


/* #########################################################
TEA SHOP: ORDER ITEMS
#########################################################*/

.order_items_container header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}    

.order_items_container header  h1 {
    padding: 10px 0; 
}    

.order_items_container header nav {
    display: flex;
    align-items: center;
    padding: 4px;
}    

.order_items_container header nav .sign_in_link {
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    margin-right: 4px;
}    

.order_items_container header nav .shop_icon img {
    text-align: center;
    width: 40px;
    height: 40px;
    margin-left: 4px;
}    

.order_items_container .showcase {  
    background-color: #000;
    color: #fff;
    display: flex;
    height: 140px;
    text-align: center;
}    

.order_items_container .showcase .introduction { 
    font-size: 24px;
    margin: auto;
}    


/* #########################################################
TEA SHOP: ORDERED ITEMS / SHIPMENT DETAILS
#########################################################*/

.shipment_details .receipt .ordered_items .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.shipment_details .receipt .ordered_items .item .description p {
    font-size: 14px;
    font-weight: normal;
    padding: 4px;
    width: 152px;
}

.shipment_details .total_cost {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.shipment_details .total_cost .quantity {
    margin-left: 32px;
}

.shipment_details .total_cost .total_price_text {
    font-size: 18px;
    width: 152px;
}


/* #########################################################
TEA SHOP: ORDER RECEIPT
##########################################################*/

#order_form input {
    background-color: #eee;
    border: none;
    font-style: 20px;
    padding: 10px;
    width: 100%;
}

.order_items_container .shipment_details {
    display: flex;
    padding: 5px;
}

.shipment_details .receipt {
    margin: auto;
    width: 400px;
}

.shipment_details .receipt .title {
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
}

.shipment_details .receipt p {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0; 
    margin: 5px 0;
}

.submit_order button {
    background-color: #000;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    width: 140px;
    height: 40px;
    justify-content: center;
    margin-top: 20px;
}


/* #########################################################
TEA SHOP: THANK YOU PAGE
#########################################################*/

.thank_you_container header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.thank_you_container header  h1 {
    padding: 10px 0; 
}

.thank_you_container header nav {
    display: flex;
    align-items: center;
    padding: 4px;
}

.thank_you_container header nav .sign_in_link {
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
    margin-right: 4px;
}

.thank_you_container header nav .shop_icon img {
    text-align: center;
    width: 40px;
    height: 40px;
    margin-left: 4px;
}

.thank_you_container .showcase {  
    background-color: #000;
    color: #fff;
    display: flex;
    height: 140px;
    text-align: center;
}

.thank_you_container .showcase .introduction { 
    font-size: 22px;
    margin: auto;
}

.thank_you_message {
    display: flex;
    margin: 10px;
    text-align: center;
} 

.thank_you_message .message {
    margin: auto;
}

.thank_you_message .message p {
    padding: 10px;
    line-height: 1.2;
}

.thank_you_message a>button {
    background-color: #000;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    height: 60px;
    justify-content: center;
    margin-top: 20px;
} */


/* ########################################################################
SHOPPING CART W/O TABLE LAYOUT
######################################################################## */


/* TEA SHOP: ORDER ITEMS */
/* ORDER ITEMS: HEADER */
.order_items_container header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.order_items_container header  h1 {
    padding: 10px 0; 
}

.order_items_container header nav {
    display: flex;
    align-items: center;
    padding: 4px;
}

.order_items_container header nav .sign_in_link {
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    margin-right: 4px;
}

.order_items_container header nav .shop_icon img {
    text-align: center;
    width: 40px;
    height: 40px;
    margin-left: 4px;
}

.order_items_container .showcase {  
    background-color: #000;
    color: #fff;
    display: flex;
    height: 140px;
    text-align: center;
}

.order_items_container .showcase .introduction { 
    font-size: 24px;
    margin: auto;
}

/* CART ITEM W/ OUT TABLE LAYOUT */

.product_item {
    display: flex;
    padding: 15px;
}

.product_item .product_img {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.product_item .item_description {
    width: 100px;
    margin: auto;
}

.product_item .item_description h5 {
    color: lightgray;
}

.increment_button_container {
    display: flex;
}

.increment_button {
    border: 1px solid gray;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px 15px;
    width: 100px;
}

.increment_button .increment {
    background-color: #fff;
    border: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 0;
}

.increment_button .decrement {
    align-content: center;
    background-color: #fff;
    border: none;
    border-radius: 50px 0 0 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px 10px;
    margin: 0;
}

.increment_button .number {
    border: none;
    text-align: center;
    width: 40px;
}

.item_price {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}
.item .added-cart-container {

    width: 140px;
}
.footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: grey;
    padding: 30px;

}
.footer.shipping{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.footer a{
    margin-left: 5%;
}

@media screen and (max-width: 400px) {
    .teas .item .tea_img img {
        width: 201px;
    }
    .teas .item .tea_content .quantity .add_button {
        font-size: 2.5vw;
        width: inherit;
        white-space: nowrap;
    }
    .item .added-cart-container {
        padding: 10px 15px;
        font-size: 2.5vw;
        width: inherit;
    }
    .teas .item .tea_content h2 {
        font-size: 3.5vw;
    }
    #check_cart_button {
        font-size: 2.5vw;
    }
    
}